<app-header></app-header>
<div class="container">
    <mat-card class="matCard center">
        <mat-card-header class="center">
            <mat-card-title>About</mat-card-title>
        </mat-card-header>

        <mat-card-content class="center">
            <div>A group collaboration to practice full-stack development. We utlized Angular 6, Node.js, phpServer,
                SQL, SCSS, and Angular Material.</div>
        </mat-card-content>

    </mat-card>
    <mat-card class="matCard">
        <mat-card-header class="center">
            <mat-card-title class="title">Team</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <div class="contributorCont">
                <div class="contactCont center">

                    <div>
                        <img src="./assets/images/Amy.png" alt="Amy Sand" class="headshot">
                    </div>
                    <div>
                        <h3 class="center">Amy Sand</h3>
                        <div class="icons">
                            <a href="https://www.linkedin.com/in/amysand/"><img src="./assets/images/linkedin-3-48.png"
                                    class="link"></a>
                            <a href="https://github.com/AmySand"><img src="./assets/images/github-8-48.png"
                                    class="link"></a>
                        </div>
                    </div>
                </div>
                <div class="contributions">
                    <h3>Contribution:</h3>
                    <p>Insert Contributions?</p>
                </div>
            </div>
        </mat-card-content>

        <mat-card-content>
            <div class="contributorCont">
                <div class="contactCont center">
                    <div>
                        <img src="./assets/images/Ben.jpg" alt="Ben Berendes" class="headshot">
                    </div>
                    <div>
                        <h3 class="center">Ben Berendes</h3>
                        <div>
                            <a href="https://www.linkedin.com/in/benjamin-berendes"><img
                                    src="./assets/images/linkedin-3-48.png" class="link"></a>
                            <a href="https://github.com/Errorcod3"><img src="./assets/images/github-8-48.png"
                                    class="link"></a>
                        </div>
                    </div>
                </div>
                <div class="contributions">
                    <h3>Contribution:</h3>
                    <p>Insert Contributions?</p>
                </div>
            </div>
        </mat-card-content>

        <mat-card-content>
            <div class="contributorCont">
                <div class="contactCont center">

                    <div>
                        <img src="./assets/images/Carl.jpeg" alt="Carl Viacrucis" class="headshot">
                    </div>
                    <div>
                        <h3 class="center">Carl Viacrucis</h3>
                        <a href="https://www.linkedin.com/in/carl-viacrucis-88b8b176/"><img
                                src="./assets/images/linkedin-3-48.png" class="link"></a>
                        <a href="https://github.com/cviacrucis"><img src="./assets/images/github-8-48.png"
                                class="link"></a>
                    </div>
                </div>
                <div class="contributions">
                    <h3>Contribution:</h3>
                    <p>Insert Contributions?</p>
                </div>
            </div>
        </mat-card-content>

        <mat-card-content>
            <div class="contributorCont">
                <div class="contactCont center">

                    <div>
                        <img src="./assets/images/Dave.jpg" alt="Dave Janovec" class="headshot">
                    </div>
                    <div>
                        <h3 class="center">Dave Janovec</h3>
                        <a href="https://www.linkedin.com/in/davejanovec/"><img src="./assets/images/linkedin-3-48.png"
                                class="link"></a>
                        <a href="https://github.com/djanovec"><img src="./assets/images/github-8-48.png"
                                class="link"></a>
                    </div>
                </div>
                <div class="contributions">
                    <h3>Contribution:</h3>
                    <p>Insert Contributions?</p>
                </div>
            </div>
        </mat-card-content>

        <mat-card-content>
            <div class="contributorCont">
                <div class="contactCont center">

                    <div>
                        <img src="./assets/images/Eric.jpeg" alt="Eric Becker" class="headshot">
                    </div>
                    <div>
                        <h3 class="center">Eric Becker</h3>
                        <a href="https://www.linkedin.com/in/eric-becker-aa314431/"><img
                                src="./assets/images/linkedin-3-48.png" class="link"></a>
                        <a href="https://github.com/ebecker03"><img src="./assets/images/github-8-48.png"
                                class="link"></a>
                    </div>
                </div>
                <div class="contributions">
                    <h3>Contribution:</h3>
                    <p>Insert Contributions?</p>
                </div>
            </div>
        </mat-card-content>

    </mat-card>
</div>
<app-footer></app-footer>