table {
    background-color: rgba(42,42,42,0.7);
    width: 75%;
    margin: 10px auto;
  }
  .trashImg{
      max-height: 30px;
      margin: 5px;
  }
  
  .trashImg:hover{
  color: white;
  cursor: pointer;
}