.flex{
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}
a {
color: white;
text-decoration: none;
text-align: center;
font-size: 16px;
width: 100%;
}

.active{
color: #69F0AE;
}

.opacity {
    background-color: rgba(123,31,162,0.9);
    width: 100%;
}

