<mat-toolbar class="opacity container" color="primary"> 
  <img src="assets/images/CodeJam2.png">
  <span class="flex"></span>
  <div>
  <a routerLink="/sign-up" class="flex" routerLinkActive="active"> Sign-up </a>
  <span class="flex"> | </span>
  <a routerLink="/home" class="flex" routerLinkActive="active">  Home</a>
  <span class="flex"> | </span>
  <a routerLink="/about" class="flex" routerLinkActive="active">  About</a>
  <span class="flex"> | </span>
  <a routerLink="/admin" class="flex" routerLinkActive="active">  Admin</a>
</div>
</mat-toolbar>

<!-- <nav>
  <h1 class="logo"></h1>
  <ul class="navLinks">
      <li>
          <a href="">SignUp</a>
      </li>
      <li>
        <a href="">Home</a>
    </li>
      <li>
          <a href="">About</a>
      </li>
      <li>
          <a href="">Admin</a>
      </li>
  </ul>
  <div class="burger">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
  </div>
</nav> -->