.footer{
    text-align: center;
    color: white;
}
.footerContainer{
    background-color: rgba(123,31,162,0.9);
    position: fixed;
    bottom: 0;
    width: 100%;
    overflow: auto;
    padding-left: 0px;
}

a {
    color: white;
}