<input type = "text" id = "searchTerm" placeholder="Search">
<br>
<mat-table [dataSource]="results">
   <ng-container matColumnDef="title">
       <mat-header-cell *matHeaderCellDef>Song Title</mat-header-cell>
       <mat-cell *matCellDef="let result">{{result.title}}</mat-cell>
   </ng-container> 
   <ng-container matColumnDef="artist">
       <mat-header-cell *matHeaderCellDef>Artist</mat-header-cell>
       <mat-cell *matCellDef="let result">{{result.artist.name}}</mat-cell>
   </ng-container>  
   <ng-container matColumnDef="preview">
       <mat-header-cell *matHeaderCellDef>Play Song</mat-header-cell>
       <mat-cell *matCellDef="let result"><audio controls><source src="{{result.preview}}" /></audio></mat-cell>
   </ng-container>   
   <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>   
   <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row> 
</mat-table>
<div>Results: {{length}}
    <button (click)="subIndex(pageIndex)" id="prevButton">Prev</button>
    Page: {{this.pageIndex}}
    <button (click)="addIndex(pageIndex)" id="nextButton">Next</button>
</div>